@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300&display=swap');
$blue: #0C70F2;
$background-color: #2D2D2D;
$color: #FFFFFF;

* {
    margin: 0px;

}

.main {
    background-color: $background-color;
}